
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post" asp-action="Register">
    <input type="text" placeholder="username" name="UserName" /> <br /> <br />
    <input type="password" placeholder="password" name="User_Password" /> <br /> <br />
    <input type="password" placeholder="confirm password" name="User_Password" /> <br /> <br />
    <input type="submit" value="Login" />
</form>

